@{
    ViewData["Title"] = "Games";
}

<div class="ui segment">
    <div class="ui twelve wide column">
        <h1 class="ui dividing header">List of games created or not created</h1>
        <p>Most are made using Godot as the engine and Aseprite for graphics</p>

        <div class="ui two column grid">
            <h4>Eye See You: Pest Control</h4>
            <div class="ui six wide column">
                <img src="~/images/eyeseeyouimg.png" alt="Eye See You Pest Control" width="500" height="250" />
            </div>
            <div class="ui six wide column">
                <p>It's a tower defence game about killing bugs with the lasers from the stationary eyes. The waves of bugs would rap up in dificulty and the current version can be played with 2-4 players. Became very overberring to add new features, so its on hold untill I make it more efficient.</p>
            </div>
        </div>

        <div class="ui two column grid">
            <h4>Search for the Cursed</h4>
            <div class="ui six wide column">
                <img src="~/images/SFTCM1Snip.PNG" alt="Search for the Cursed" width="500" height="250" />
            </div>
            <div class="ui six wide column">
                <p>It's a point and click graphic adventure game. It had working rooms, music, inventory, and dialog. The way I built a lot of it is very messy, so I plan on starting over using this as a reference to make a more efficient system for future point and clicks.</p>
            </div>
        </div>

        <div class="ui two column grid">
            <h4>Haunted House in Haydenville</h4>
            <div class="ui six wide column">
                <img src="~/images/GameFrontPic.PNG" alt="Haunted House in Haydenville" width="300" height="150" />
                <img src="~/images/RegRoom11.png" alt="One of the rooms" width="300" height="150" />
            </div>
            <div class="ui six wide column">
                <p>It's the first point and click graphic adventure game I started to work on. It had rooms you could naviagate through, and thats about it. I encountered a bug that prevented the player from picking up objects that I wasnt able to solve so developement on this stopped in favor of Eye See You.</p>
            </div>
        </div>

        <div class="ui two column grid">
            <h4>DUSK</h4>
            <div class="ui six wide column">
                <img src="~/images/intro.png" alt="DUSK" width="300" height="150" />
            </div>
            <div class="ui six wide column">
                <p>It is a top down dungeon crawler with planned bosses and characters. This is on only one not made in Godot and Aseprite, and also the oldest. I have recreated parts of it as a platforming dungeon crawler, but have not gotten far on this remake.</p>
            </div>
        </div>
    </div>
</div>