@{
    ViewData["Title"] = "Nexus";
}

<div class="text-center">
    <h1 class="display-4">Use the center of the brain for entertainment</h1>
    <h3>Unchecked Information, entertain the brain</h3>
    <p>filler text central</p>
</div>
