@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Why is this here?</p>
<p>This page is here to PUSH BOUNDRIES, its here to LIFT EXPECTATIONS, its here to PROTECT the WEAK and SAVE the POOR</p>
<p>But more importantly, Its here to STAY!</p>