@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About Page</h1>
    <p>I'm Isaac Walters and this is an about page. I'm a student at Lane Comunity College, learning computer programming. My senior year in high school I was on a robotics team named Ace of Spades, which was a lot of fun. I have been playing around with making games for two years, never making any real progress on one game idea but having fun coming up with ideas and sometimes turning them into code!</p>
    <p>I'm a big fan of graphic adventure games, specificaly the Lucas Arts ones. I've been playing around with the idea of making an adventure game for about two years. I've messed around with AGS and have become decent with Godot. In Godot I've made a small adventure game demo, but the code is very bad so I plan on starting over and recreating the foundation I have before moving on.</p>
</div>
