@{
    ViewData["Title"] = "Blog";
}

<div class="text-center">
    <h1 class="display-4">Blog Base Page</h1>
    <p>This is the Blog page. There is nothing on this page.</p>
    <p>There will probably never be anything on this page.</p>
    <p>But while you are here, enjoy these two links, or go back home:</p>
    <a asp-controller="Blog" asp-action="Messages">Messages Chat</a>
    <br />
    <a asp-controller="Blog" asp-action="About">About Link</a>
</div>
